$primary-color: #333;
$green: #1DB954;

.header {
    background-color: $primary-color;
    padding: 20px 0;
    margin-bottom: 25px;
    z-index: 9999;
    position: relative;

    a {
        color: #fff;
        font-size: 25px;
        font-weight: 500;

        i {
            color: $green;
            font-size: 30px;
            position: relative;
            top: 3px;
            margin-right: 4px;
        }
    }
}