<div class="container">
    <div class="jumbotron">
        <h1 class="display-7">Your Shortcut to Clean</h1>
        <p class="lead">Clean-up your playlists by automatically filtering out songs with unsavory language.</p>
        <hr class="my-4">
        <p>First we need you to grant us access to your Spotify account by clicking the green button below.</p>
        <a class="btn btn-primary btn-lg" href="https://accounts.spotify.com/authorize?client_id=1b65d7afe0e94690a089f847c13aedee&redirect_uri=http%3A%2F%2Flocalhost%3A4200%2Fapp&response_type=token&scope=playlist-read-private,playlist-modify-public,playlist-modify-private" role="button">Authenticate</a>
    </div>
</div>